<div>
  <div class="input-group">
    <p>{{input type="text" value=to placeholder="To" class="form-control"}}</p>
    <p>{{input type="text" value=subject placeholder="Subject" class="form-control"}}</p>
    <p>{{input type="text" value=body placeholder="Message body" class="form-control"}}</p>
    <p>{{#bootstrap-button class="btn-primary" pressed="send" disabled=cannotSend}}Send{{/bootstrap-button}}</p>
  </div>
</div>
