<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      {{#each this}}
        {{#link-to 'folder' this tagName='li'}}
          {{link-to name 'folder' this}}
        {{/link-to}}
      {{/each}}
    </ul>
  </div>

  <div class="col-md-10">
    {{outlet}}
  </div>
</div>

