<table class="table">
  <tbody>
    {{#each this}}
      {{#link-to 'conversation' this tagName="tr"}}
        <td>{{messages.firstObject.from}}</td>
        <td>{{messages.firstObject.subject}}</td>
        <td>{{messages.firstObject.time}}</td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>